$desktop-breakpoint: 810px

html, body
	padding: 0
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

body
	background-color: var(--bg-color)
	color: var(--font-color)
	margin-left: 0.625rem
	margin-right: 0.625rem
	@media (min-width: $desktop-breakpoint)
		margin-left: 5rem
		margin-right: 5rem

a
	color: inherit
	text-decoration: none

*
	box-sizing: border-box

:root
	--bg-color: #fff
	--primary-color: #1eb3b6
	--font-color: #171819

[data-theme='dark']
	--bg-color: #171819
	--primary-color: #e53246
	--font-color: #fff
