.header__logo {
  display: block;
  width: 35px;
  height: 35px;
}

@media only screen and (min-width: 680px) {
  .header__logo {
    display: none;
  }
}

.header__desktop-logo {
  display: none;
}

@media only screen and (min-width: 680px) {
  .header__desktop-logo {
    display: block;
    width: 215px;
    height: 43px;
  }
}

.header__options {
  display: none;
}

@media only screen and (min-width: 680px) {
  .header__options {
    display: block;
  }
}
